:root {
  --primary-color: #007185;
  --primary-shade: #004558;
  --card-border-color: #d9d9d9;
  --card-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.product_card_wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  max-width: 1500px;
  margin: 50px auto;
  gap: 20px;
  justify-items: center;
}

.card_container {
  width: 90%;
  height: 90%;
  border: 1px solid var(--card-border-color);
  box-shadow: var(--card-box-shadow);
  padding: 20px;
  color: black;
  text-decoration: none;
  position: relative;
  transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.card_container:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  transform: scale(1.05);
}

.card_container img {
  padding: 20px;
  width: 100%;
  height: 180px;
  object-fit: contain;
}

.card_container .button {
  display: none;
  padding: 10px 20px;
  font-weight: 700;
  border: none;
  cursor: pointer;
  background-color: var(--primary-color);
  width: 100%;
  margin-top: 20px;
  border-radius: 30px;
}

.card_container:hover .button {
  display: block;
}

.card_container .button:hover {
  background-color: var(--primary-shade);
}

.rating {
  display: flex;
  align-items: center;
  padding: 5px 0;
}

.product_flexed {
  display: flex;
  gap: 50px;
  width: 100%;
  padding: 20px;
  border: 1px solid var(--card-border-color);
  box-shadow: var(--card-box-shadow);
  align-items: center;
}

.product_flexed h4 {
  padding: 20px 0;
}

.product_flexed .button {
  display: block;
  width: 150px;
  margin: 0;
}

.product_flexed img {
  width: 300px !important;
  height: auto;
}

@media screen and (max-width: 768px) {
  .product_card_wrapper {
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  }

  .product_flexed {
    flex-direction: column;
  }

  .product_flexed img {
    width: 100% !important;
  }
}